---
import Container from "@/components/Container.astro";
import Heading from "@/components/Heading.astro";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const publishedBlogPosts = await getCollection("blogCollection", ({ data }) => {
  return data.draft !== true;
});
---

<Layout>
  <Container width="marginxy" animate={true}>
    <h1 class="text-center text-4xl font-bold mb-10">Blog</h1>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10">
      {
        publishedBlogPosts.map((post) => (
          <div class="card bg-base-100 w-96 shadow-sm">
            <figure>
              <Image
                src={post.data.cover}
                alt={post.data.coverAlt}
                class="rounded-md "
              />
            </figure>
            <div class="card-body">
              <Heading
                size="md"
                fontweight="semibold"
                fontstyle="sans"
                class="card-title"
              >
                {post.data.title} <div class="badge badge-secondary">NEW</div>
              </Heading>
              <p>
                A card component has a figure, a body part, and inside body
                there are title and actions parts
              </p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">
                  <a href={"/blog/" + post.id}>Read More</a>
                </button>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
