---
interface Award {
  name: string;
  year: number;
  from: string;
}

interface Props {
  awards: Award[];
}

const { awards } = Astro.props;
---

<ul class="list bg-base-100 rounded-box shadow-md">
  {
    awards.map(({ name, year, from }) => (
      <li class="list-row  hover:bg-base-300">
        <div class="list-col-grow">
          <span class="flex items-center gap-3">
            <h5 class="text-xl font-thin opacity-60 tabular-nums"> {name}</h5>
            <small class="opacity-30"> {year} </small>
          </span>
          <div>{from}</div>
        </div>
      </li>
    ))
  }
</ul>
